root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 100
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.swift]
max_line_length = 120

[*.{kt,kts}]
# NOTE: ktlint specific rules that are specified in .editorconfig
ktlint_function_naming_ignore_when_annotated_with = Composable
ij_kotlin_packages_to_use_import_on_demand = androidx.compose.**,androidx.wear.compose.**

[*.sh]
shell_variant = posix
simplify = true
binary_next_line = true
switch_case_indent = true
space_redirects = true
function_next_line = false
minify = false
