# NOTE: You need to create a .env.<dev-stage (pandoks)> and a .env.production file for both stages
# If you use a .env file, it will override everything and you'll use the same .env for all stages
# OVH API credentials belong to the account/application and may be reused across stages

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DEFAULT_ACCOUNT_ID=

OVH_APPLICATION_SECRET=
OVH_CONSUMER_KEY=

TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=

GITHUB_TOKEN=
