# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Helm
packages/*/chart/templates/*.yaml
# tpl-rendered (contains Go template syntax)
packages/postgres/chart/files/patroni.yaml

# SST
sst-env.d.ts
