#cloud-config
# env variables:
# REGISTRATION_TAILNET_AUTH_KEY
package_update: true
package_upgrade: true
ssh_pwauth: false
disable_root: true

bootcmd: []

users:
  - name: pandoks
    gecos: 'Admin User'
    groups: [sudo]
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    shell: /bin/bash

packages:
  - curl

write_files:
  - path: /etc/ssh/sshd_config
    owner: root:root
    permissions: '0644'
    content: |
      PubkeyAuthentication yes
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      PermitRootLogin no
      AllowUsers pandoks
      Subsystem sftp internal-sftp
      UsePAM yes
  - path: /etc/nftables.conf
    owner: root:root
    permissions: '0755'
    content: |
      #!/usr/sbin/nft -f

      flush ruleset

      table inet filter {
        chain input {
          type filter hook input priority -100; policy drop;

          ct state established,related accept comment "Return traffic"
          ct state invalid drop comment "Invalid packets"

          iif "lo" accept comment "Loopback"
          iifname "tailscale0" accept comment "Tailscale interface"

          udp dport 41641 accept comment "Tailscale"

          ip6 nexthdr ipv6-icmp accept comment "ICMPv6 (required for IPv6)"

          limit rate 5/minute counter log prefix "nft-drop: "
          counter drop
        }

        chain forward {
          type filter hook forward priority filter; policy accept;
        }

        chain output {
          type filter hook output priority filter; policy accept;
        }
      }

runcmd:
  - systemctl enable nftables
  - nft -f /etc/nftables.conf
  - curl -fsSL https://tailscale.com/install.sh | sh
  - |
    tailscale up --ssh \
      --authkey ${REGISTRATION_TAILNET_AUTH_KEY} \
      --hostname dev-box \
      --accept-dns=false
