apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: main
resources:
  - service-accounts.yaml
  - main.yaml

configMapGenerator:
  - name: patroni-config
    files:
      - ../../patroni/patroni.yaml
  - name: patroni-pgbackrest-config
    files:
      - ../../patroni/pgbackrest.conf
  - name: pgbackrest-server-config
    files:
      - ../../pgbackrest/pgbackrest.conf

generatorOptions:
  disableNameSuffixHash: true
