apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - metallb.yaml
  - cert-manager.yaml
  - kube-prometheus-stack.yaml
  - haproxy-ingress.yaml
  - https://github.com/rancher/system-upgrade-controller/releases/latest/download/crd.yaml
