apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: valkey-{{ .Values.name }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: valkey
    database: {{ .Values.name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Values.namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: valkey
      database: {{ .Values.name }}
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scheme: http

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-dashboard-valkey-{{ .Values.namespace }}-{{ .Values.name }}
  namespace: monitoring
  labels:
    grafana_dashboard: "1"
data:
  valkey-{{ .Values.namespace }}-{{ .Values.name }}.json: |
{{ tpl (.Files.Get "files/grafana-dashboard.json") . | indent 4 }}
