apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: valkey-{{ .Values.name }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: valkey
    database: {{ .Values.name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Values.namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: valkey
      database: {{ .Values.name }}
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scheme: http

