apiVersion: v1
kind: Service
metadata:
  name: valkey-{{ .Values.name }}-headless
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: valkey
    database: {{ .Values.name }}
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: valkey-{{ .Values.name }}
  ports:
    - name: client
      port: 6379
      targetPort: 6379
    - name: bus
      port: 16379
      targetPort: 16379
    - name: metrics
      port: 9121
      targetPort: 9121

---
apiVersion: v1
kind: Service
metadata:
  name: valkey-{{ .Values.name }}-cluster
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: valkey-{{ .Values.name }}
  ports:
    - port: 6379
      targetPort: 6379

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: &app valkey-{{ .Values.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: *app
spec:
  serviceName: &service valkey-{{ .Values.name }}-headless
  podManagementPolicy: Parallel
  replicas: {{ add .Values.cluster.masters (mul .Values.cluster.masters .Values.cluster.replicasPerMaster) }}
  selector:
    matchLabels:
      app: *app
  template:
    metadata:
      labels:
        app: *app
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: *app
              topologyKey: kubernetes.io/hostname
      containers:
        - name: valkey
          image: {{ .Values.image }}
          ports:
            - name: client
              containerPort: 6379
            - name: bus
              containerPort: 16379
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: HEADLESS_SERVICE
              value: *service
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if .Values.persistence }}
            - name: PERSISTENCE
              value: {{ .Values.persistence }}
            {{- end }}
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.credentials.secret }}
                  key: {{ .Values.credentials.dataKeys.adminPassword }}
            - name: CLIENT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.credentials.secret }}
                  key: {{ .Values.credentials.dataKeys.clientPassword }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: &data data
              mountPath: /data
            - name: &config config
              mountPath: /tmp/conf_templates/valkey.conf
              subPath: valkey.conf
            - name: &acl acl
              mountPath: /tmp/conf_templates/users.acl
              subPath: users.acl
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - valkey-cli --user admin -a "$ADMIN_PASSWORD" ping | grep -q PONG
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: *config
          configMap:
            name: valkey-config
        - name: *acl
          configMap:
            name: valkey-acl
  volumeClaimTemplates:
    - metadata:
        name: *data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 999Pi # local-path does not support storage requests so we use a big number just to show that it's uncapped
