apiVersion: v1
kind: Service
metadata:
  name: valkey-{{ .Values.name }}-headless
  namespace: '{{ .Values.namespace }}'
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: valkey-{{ .Values.name }}
  ports:
    - name: client
      port: 6379
      targetPort: 6379
    - name: bus
      port: 16379
      targetPort: 16379

---
apiVersion: v1
kind: Service
metadata:
  name: valkey-{{ .Values.name }}-cluster
  namespace: '{{ .Values.namespace }}'
spec:
  type: ClusterIP
  selector:
    app: valkey-{{ .Values.name }}
  ports:
    - port: 6379
      targetPort: 6379

{{- $replicas := add .Values.cluster.masters (mul .Values.cluster.masters .Values.cluster.replicasPerMaster) }}
{{- range $i := until (int $replicas) }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-valkey-{{ $.Values.name }}-{{ $i }}
  namespace: '{{ $.Values.namespace }}'
  labels:
    app: valkey-{{ $.Values.name }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: '{{ $.Values.persistence.storageClass }}'
  resources:
    requests:
      storage: '{{ $.Values.persistence.size }}'
{{- end }}

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: &app valkey-{{ .Values.name }}
  namespace: '{{ .Values.namespace }}'
  labels:
    app: *app
spec:
  serviceName: &service valkey-{{ .Values.name }}-headless
  podManagementPolicy: Parallel
  replicas: {{ $replicas }}
  selector:
    matchLabels:
      app: *app
  template:
    metadata:
      labels:
        app: *app
    spec:
      containers:
        - name: valkey
          image: {{ .Values.image }}
          ports:
            - name: client
              containerPort: 6379
            - name: bus
              containerPort: 16379
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: HEADLESS_SERVICE
              value: *service
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: ANNOUNCE_PORT
              value: '6379'
            - name: ANNOUNCE_BUS_PORT
              value: '16379'
            {{- if .Values.persistence }}
            - name: PERSISTENCE
              value: '{{ .Values.persistence.modes }}'
            {{- end }}
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{ .Values.credentials.secret }}'
                  key: '{{ .Values.credentials.dataKeys.adminPassword }}'
            - name: CLIENT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: '{{ .Values.credentials.secret }}'
                  key: '{{ .Values.credentials.dataKeys.clientPassword }}'
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: &data data
              mountPath: /data
            - name: &config config
              mountPath: /tmp/conf_templates/valkey.conf
              subPath: valkey.conf
            - name: &acl acl
              mountPath: /tmp/conf_templates/users.acl
              subPath: users.acl
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 20
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - valkey-cli --user admin -a "$CLIENT_PASSWORD" ping | grep -q PONG
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 3
      volumes:
        - name: *config
          configMap:
            name: valkey-config
        - name: *acl
          configMap:
            name: valkey-acl
  volumeClaimTemplates:
    - metadata:
        name: *data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: '{{ .Values.persistence.storageClass }}'
        resources:
          requests:
            storage: 1Gi # this doesn't matter because we create the PVC beforehand
