# Default values for postgres chart

db: example
namespace: example

credentials:
  secret: example-db-creds
  dataKeys:
    adminUser: POSTGRES_USER
    clientUser: PGUSER
    adminPassword: POSTGRES_PASSWORD
    pgcatPassword: PGCATPASS
    clientPassword: PGPASSWORD
    replicationPassword: PGREPPASS
    patroniPassword: PATRONI_PASSWORD

backup:
  bucket: database
  image: ghcr.io/pandoks/pgbackrest:latest
  encryptionKey: openssl-rand-hex-32
  path: /
  schedules:
    full: '0 2 * * 0'
    diff: '0 2 * * 3,6'
    incr: '0 2 * * 1,2,4,5'

s3:
  region: us-west-1
  endpoint: host.k3d.internal:4566
  tls: 'n'
  uriStyle: path
  credentials:
    secret: example-db-backup-creds
    dataKeys:
      s3Key: S3_KEY
      s3KeySecret: S3_KEY_SECRET

storage:
  storageClass: local-path
  size: 1Gi

patroni:
  replicas: 3
  image: ghcr.io/pandoks/patroni:latest

pgcat:
  replicas: 3
  image: ghcr.io/pandoks/pgcat:latest
