db: example
namespace: example

credentials:
  secret: example-db-creds
  dataKeys:
    superuserPassword: SUPERUSER_PASSWORD
    adminPassword: ADMIN_PASSWORD
    clientPassword: CLIENT_PASSWORD
    replicationPassword: REPLICATION_PASSWORD
    patroniPassword: PATRONI_PASSWORD
    backupS3Key: BACKUP_S3_KEY
    backupS3KeySecret: BACKUP_S3_KEY_SECRET

backup:
  bucket: database
  image: ghcr.io/pandoks/pgbackrest:latest
  encryptionKey: openssl-rand-hex-32
  path: /
  schedules:
    full: '0 2 * * 0'
    diff: '0 2 * * 3,6'
    incr: '0 2 * * 1,2,4,5'
  retention:
    full: 4
    diff: 2

s3:
  region: us-west-1
  endpoint: host.k3d.internal:4566
  tls: 'n'
  uriStyle: path

patroni:
  shards: 1
  replicasPerShard: 3
  image: ghcr.io/pandoks/patroni:latest

# https://github.com/pgdogdev/helm/blob/main/values.yaml
pgdog:
  replicas: 2
  workers: 2
  defaultPoolSize: 15
  lsnCheckDelay: 0
  lsnCheckInterval: 1000
  loadBalancingStrategy: least_active_connections
  readWriteSplit: include_primary_if_replica_banned
