db: example
namespace: example

credentials:
  secret: example-db-creds
  dataKeys:
    superuserPassword: SUPERUSER_PASSWORD
    adminPassword: ADMIN_PASSWORD
    clientPassword: CLIENT_PASSWORD
    replicationPassword: REPLICATION_PASSWORD
    patroniPassword: PATRONI_PASSWORD

backup:
  bucket: database
  image: ghcr.io/pandoks/pgbackrest:latest
  encryptionKey: openssl-rand-hex-32
  path: /
  schedules:
    full: '0 2 * * 0'
    diff: '0 2 * * 3,6'
    incr: '0 2 * * 1,2,4,5'
  retention:
    full: 4
    diff: 2

s3:
  region: us-west-1
  endpoint: host.k3d.internal:4566
  tls: 'n'
  uriStyle: path
  credentials:
    secret: example-db-backup-creds
    dataKeys:
      s3Key: S3_KEY
      s3KeySecret: S3_KEY_SECRET

patroni:
  replicas: 3
  image: ghcr.io/pandoks/patroni:latest

pgdog:
