# Default values for pgbackrest chart

db: example
namespace: example

backup:
  bucket: database
  path: /
  encryptionKey: openssl-rand-hex-32
  schedules:
    full: '0 2 * * 0'
    diff: '0 2 * * 3,6'
    incr: '0 2 * * 1,2,4,5'

s3:
  region: us-west-1
  endpoint: host.k3d.internal:4566
  tls: 'n'
  uriStyle: path
