#cloud-config
# env variables:
# PRIVATE_IP_RANGE
# ROLE
# K3S_TOKEN
# SERVER_API
# NODE_IP
# TAILSCALE_HOSTNAME
# REGISTRATION_TAILNET_AUTH_KEY
package_update: true
package_upgrade: true
ssh_pwauth: false
disable_root: true

bootcmd:
  - |
    cat > /etc/nftables.conf << 'EOF'
    table inet filter {
      chain input {
        type filter hook input priority 0;
        policy drop;

        iif "lo" accept;
        ct state established,related accept;
        ip saddr ${PRIVATE_IP_RANGE} accept;
        udp dport 41641 accept;
        iif "tailscale0" accept;
      }

      chain forward {
        type filter hook forward priority 0;
        policy drop;
      }

      chain output {
        type filter hook output priority 0;
        policy accept;
      }
    }
    EOF
  - nft -f /etc/nftables.conf
  - systemctl enable nftables
  - systemctl start nftables

users:
  - name: pandoks
    gecos: 'Admin User'
    groups: [sudo]
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    shell: /bin/bash

packages:
  - curl

write_files:
  - path: /etc/ssh/sshd_config
    owner: root:root
    permissions: '0644'
    content: |
      PubkeyAuthentication yes
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      PermitRootLogin no
      AllowUsers pandoks
      Subsystem sftp internal-sftp
      UsePAM yes

runcmd:
  - curl -fsSL https://tailscale.com/install.sh | sh
  - |
    tailscale up --ssh \
      --authkey ${REGISTRATION_TAILNET_AUTH_KEY} \
      --hostname ${TAILSCALE_HOSTNAME} \
      --accept-dns=false
  - |
    if [ "${ROLE}" = "bootstrap" ]; then
      curl -sfL https://get.k3s.io | \
        K3S_TOKEN=${K3S_TOKEN} sh -s - server \
          --cluster-init \
          --disable=traefik \
          --disable=servicelb \
          --node-ip=${NODE_IP} \
          --advertise-address=${NODE_IP} \
          --tls-san=${NODE_IP} \
          --flannel-iface=enp7s0
    elif [ "${ROLE}" = "server" ]; then
      curl -sfL https://get.k3s.io | \
        K3S_TOKEN=${K3S_TOKEN} sh -s - server \
          --server=${SERVER_API} \
          --disable=traefik \
          --disable=servicelb \
          --node-ip=${NODE_IP} \
          --advertise-address=${NODE_IP} \
          --tls-san=${NODE_IP} \
          --flannel-iface=enp7s0
    else
      curl -sfL https://get.k3s.io | \
        K3S_TOKEN=${K3S_TOKEN} sh -s - agent \
          --server=${SERVER_API} \
          --node-ip=${NODE_IP} \
          --flannel-iface=enp7s0
    fi
