#cloud-config
# env variables:
# PRIVATE_IP_RANGE
# SSH_CA_PUB
# ROLE
# K3S_TOKEN
# SERVER_API
# NODE_IP
package_update: true
package_upgrade: true
ssh_pwauth: false
disable_root: true

bootcmd:
  - iptables -F
  - iptables -P INPUT DROP
  - iptables -P FORWARD DROP
  - iptables -P OUTPUT ACCEPT
  - iptables -A INPUT -i lo -j ACCEPT
  - iptables -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
  - iptables -A INPUT -s ${PRIVATE_IP_RANGE} -j ACCEPT # hetzner private network
  - iptables -A INPUT -p udp --dport 41641 -j ACCEPT # tailscale
  - iptables -A INPUT -i tailscale0 -j ACCEPT
  - iptables-save > /etc/iptables.rules

users:
  - name: pandoks
    gecos: 'Admin User'
    groups: [sudo]
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    shell: /bin/bash

packages:
  - curl

write_files:
  - path: /etc/network/if-pre-up.d/iptables
    owner: root:root
    permissions: '0755'
    content: |
      #!/bin/sh
      iptables-restore < /etc/iptables.rules
  - path: /etc/ssh/sshd_config
    owner: root:root
    permissions: '0644'
    content: |
      PubkeyAuthentication yes
      PasswordAuthentication no
      KbdInteractiveAuthentication no
      ChallengeResponseAuthentication no
      PermitRootLogin no
      AllowUsers pandoks
      Subsystem sftp internal-sftp
      UsePAM yes

runcmd:
  - |
    if [ "${ROLE}" = "bootstrap" ]; then
      curl -sfL https://get.k3s.io | \
        K3S_TOKEN=${K3S_TOKEN} sh -s - server \
          --cluster-init \
          --disable=traefik \
          --disable=servicelb \
          --node-ip=${NODE_IP} \
          --advertise-address=${NODE_IP} \
          --tls-san=${NODE_IP} \
          --flannel-iface=enp7s0
    elif [ "${ROLE}" = "server" ]; then
      curl -sfL https://get.k3s.io | \
        K3S_TOKEN=${K3S_TOKEN} sh -s - server \
          --server=${SERVER_API} \
          --disable=traefik \
          --disable=servicelb \
          --node-ip=${NODE_IP} \
          --advertise-address=${NODE_IP} \
          --tls-san=${NODE_IP} \
          --flannel-iface=enp7s0
    else
      curl -sfL https://get.k3s.io | \
        K3S_TOKEN=${K3S_TOKEN} sh -s - agent \
          --server=${SERVER_API} \
          --node-ip=${NODE_IP} \
          --flannel-iface=enp7s0
    fi
