{{- range $shardIndex := until (int $.Values.patroni.shards) }}
  {{- range $type, $schedule := $.Values.backup.schedules }}
    {{- if $schedule }}
---
{{ include "pgbackrest.cronjob" (dict "context" $ "type" $type "schedule" $schedule "shardIndex" $shardIndex) }}
    {{- end }}
  {{- end }}
{{- end }}

{{- define "pgbackrest.cronjob" -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .context.Values.db }}-shard-{{ .shardIndex }}-pgbackrest-backup-{{ .type }}
  namespace: {{ .context.Values.namespace }}
spec:
  schedule: {{ .schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          securityContext:
            fsGroup: 999
          containers:
            - name: pgbackrest
              image: {{ .context.Values.backup.image }}
              args:
                - pgbackrest
                - --stanza={{ .context.Values.db }}-shard-{{ .shardIndex }}
                - --type={{ .type }}
                - --config=/etc/pgbackrest.conf
                - backup
              env:
                - name: MASTER_HOST
                  value: patroni-{{ .context.Values.db }}-primary-shard-{{ .shardIndex }}.{{ .context.Values.namespace }}.svc.cluster.local
                - name: SLAVE_HOST
                  value: patroni-{{ .context.Values.db }}-replicas-shard-{{ .shardIndex }}.{{ .context.Values.namespace }}.svc.cluster.local
                - name: CLIENT_COMMON_NAME
                  value: patroni-{{ .context.Values.db }}-shard-{{ .shardIndex }}
                - name: BACKUP_BUCKET
                  value: {{ .context.Values.backup.bucket }}
                - name: BACKUP_PATH
                  value: {{ .context.Values.backup.path }}
                - name: S3_ACCESS_KEY
                  valueFrom:
                    secretKeyRef:
                      name: &backup_secret {{ .context.Values.backup.credentials.secret }}
                      key: {{ .context.Values.backup.credentials.dataKeys.accessKey }}
                - name: S3_SECRET_KEY
                  valueFrom:
                    secretKeyRef:
                      name: *backup_secret
                      key: {{ .context.Values.backup.credentials.dataKeys.secretKey }}
                - name: S3_REGION
                  value: {{ .context.Values.s3.region }}
                - name: S3_HOST
                  value: {{ .context.Values.s3.host }}
                - name: S3_TLS
                  value: {{ .context.Values.s3.tls | quote }}
                - name: S3_URI_STYLE
                  value: {{ .context.Values.s3.uriStyle }}
                - name: ENCRYPTION_KEY
                  value: {{ .context.Values.backup.encryptionKey }}
                - name: STANZA
                  value: {{ .context.Values.db }}-shard-{{ .shardIndex }}
                - name: PGPASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ .context.Values.credentials.secret }}
                      key: {{ .context.Values.credentials.dataKeys.superuserPassword }}
                - name: FULL_RETENTION
                  value: {{ .context.Values.backup.retention.full | quote }}
                - name: DIFF_RETENTION
                  value: {{ .context.Values.backup.retention.diff | quote }}
              {{- with .context.Values.backup.resources }}
              resources:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: &config pgbackrest-config
                  mountPath: /tmp/conf_templates/pgbackrest.conf
                  subPath: pgbackrest.conf
                - name: &tls pgbackrest-tls
                  mountPath: /etc/pgbackrest
                  readOnly: true
          volumes:
            - name: *config
              configMap:
                name: pgbackrest-server-config
            - name: *tls
              secret:
                secretName: {{ .context.Values.db }}-shard-{{ .shardIndex }}-pgbackrest-backup-tls
                defaultMode: 0600
                items:
                  - key: tls.crt
                    path: server.crt
                  - key: tls.key
                    path: server.key
                  - key: ca.crt
                    path: ca.crt
          restartPolicy: OnFailure
      backoffLimit: 4
{{- end }}
