apiVersion: v1
kind: ConfigMap
metadata:
  name: patroni-{{ .Values.db }}-config
  namespace: {{ .Values.namespace }}
data:
  patroni.yaml: |
{{ .Files.Get "files/patroni.yaml" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: patroni-{{ .Values.db }}-pgbackrest-config
  namespace: {{ .Values.namespace }}
data:
  pgbackrest.conf: |
{{ .Files.Get "files/pgbackrest.conf" | indent 4 }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pgbackrest-{{ .Values.db }}-backup-server-config
  namespace: {{ .Values.namespace }}
data:
  pgbackrest.conf: |
{{ .Files.Get "files/pgbackrest-server.conf" | indent 4 }}

{{- range $shardIndex := until (int $.Values.patroni.shards) }}
---
# provides a stable ip for the primary
apiVersion: v1
kind: Service
metadata:
  name: patroni-{{ $.Values.db }}-primary-shard-{{ $shardIndex }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: &app patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}
    cluster-name: &cluster-name {{ $.Values.db }}-shard-{{ $shardIndex }}
    role: &role primary
spec:
  type: ClusterIP
  selector:
    app: *app
    cluster-name: *cluster-name
    role: *role
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
    - name: pgbackrest
      port: 8432
      targetPort: 8432

---
# provides a stable ip for all replicas
apiVersion: v1
kind: Service
metadata:
  name: patroni-{{ $.Values.db }}-replicas-shard-{{ $shardIndex }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: &app patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}
    cluster-name: &cluster-name {{ $.Values.db }}-shard-{{ $shardIndex }}
    role: &role replica
spec:
  type: ClusterIP
  selector:
    app: *app
    cluster-name: *cluster-name
    role: *role
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
    - name: pgbackrest
      port: 8432
      targetPort: 8432

---
apiVersion: v1
kind: Service
metadata:
  name: &name patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: *name
    app.kubernetes.io/name: patroni
    database: {{ $.Values.db }}
    cluster-name: &cluster-name {{ $.Values.db }}-shard-{{ $shardIndex }}
spec:
  clusterIP: None
  selector:
    app: *name
    cluster-name: *cluster-name
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
    - name: patroni
      port: 8008
      targetPort: 8008
    - name: pg-metrics
      port: 9187
      targetPort: 9187

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: &app patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}
  namespace: {{ $.Values.namespace }}
  labels:
    app: *app
    cluster-name: &cluster-name {{ $.Values.db }}-shard-{{ $shardIndex }}
spec:
  replicas: {{ $.Values.patroni.replicasPerShard }}
  serviceName: patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}
  selector:
    matchLabels:
      app: *app
      cluster-name: *cluster-name
  template:
    metadata:
      labels:
        app: *app
        cluster-name: *cluster-name
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: *app
                  cluster-name: *cluster-name
              topologyKey: kubernetes.io/hostname
      serviceAccountName: patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}
      securityContext:
        fsGroup: 999
      containers:
        - name: patroni
          image: {{ $.Values.patroni.image }}
          readinessProbe:
            httpGet:
              scheme: HTTP
              path: /readiness
              port: 8008
            initialDelaySeconds: 3
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          ports:
            - containerPort: 8008
              protocol: TCP
            - containerPort: 5432
              protocol: TCP
          env:
            - name: POSTGRES_DB
              value: &db_name {{ $.Values.db }}
            - name: APP_NAME
              value: *app
            - name: CLUSTER_NAME
              value: *cluster-name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: SUPERUSER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: &db_creds {{ $.Values.credentials.secret }}
                  key: {{ $.Values.credentials.dataKeys.superuserPassword }}
            - name: REPLICATION_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: *db_creds
                  key: {{ $.Values.credentials.dataKeys.replicationPassword }}
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: *db_creds
                  key: {{ $.Values.credentials.dataKeys.adminPassword }}
            - name: CLIENT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: *db_creds
                  key: {{ $.Values.credentials.dataKeys.clientPassword }}
            - name: PATRONI_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: *db_creds
                  key: {{ $.Values.credentials.dataKeys.patroniPassword }}
            - name: BACKUP_BUCKET
              value: &backup_bucket {{ $.Values.backup.bucket }}
            - name: BACKUP_PATH
              value: &backup_path {{ $.Values.backup.path }}
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: &backup_creds {{ $.Values.backup.credentials.secret }}
                  key: &s3_key {{ $.Values.backup.credentials.dataKeys.accessKey }}
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: *backup_creds
                  key: &s3_key_secret {{ $.Values.backup.credentials.dataKeys.secretKey }}
            - name: S3_REGION
              value: &s3_region {{ $.Values.s3.region }}
            - name: S3_HOST
              value: &s3_host {{ $.Values.s3.host }}
            - name: S3_TLS
              value: &s3_tls {{ $.Values.s3.tls | quote }}
            - name: S3_URI_STYLE
              value: &s3_uri_style {{ $.Values.s3.uriStyle }}
            - name: ENCRYPTION_KEY
              value: &encryption_key {{ $.Values.backup.encryptionKey }}
            - name: BACKUP_HOST_COMMON_NAME
              value: &backup_host_common_name {{ $.Values.db }}-shard-{{ $shardIndex }}-pgbackrest-backup
            - name: STANZA
              value: *cluster-name
          {{- with $.Values.patroni.resources.patroni }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: &patroni_config patroni-config
              mountPath: /tmp/conf_templates/patroni.yaml
              subPath: patroni.yaml
            - name: &pgbackrest_config pgbackrest-config
              mountPath: &pgbackrest_mount /tmp/conf_templates/pgbackrest.conf
              subPath: pgbackrest.conf
            - name: &data patroni-data
              mountPath: &data_mount /var/lib/postgresql
            - name: &wal_archives patroni-wal-archives
              mountPath: &wal_archives_mount /var/spool/pgbackrest
            - name: &socket postgres-socket
              mountPath: &socket_mount /var/run/postgresql
        - name: pgbackrest
          image: {{ $.Values.backup.image }}
          args:
            - pgbackrest
            - server
            - --config=/etc/pgbackrest.conf
          ports:
            - name: pgbackrest
              containerPort: 8432
          env:
            - name: POSTGRES_DB
              value: *db_name
            - name: BACKUP_BUCKET
              value: *backup_bucket
            - name: BACKUP_PATH
              value: *backup_path
            - name: S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: *backup_creds
                  key: *s3_key
            - name: S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: *backup_creds
                  key: *s3_key_secret
            - name: S3_REGION
              value: *s3_region
            - name: S3_HOST
              value: *s3_host
            - name: S3_TLS
              value: *s3_tls
            - name: S3_URI_STYLE
              value: *s3_uri_style
            - name: ENCRYPTION_KEY
              value: *encryption_key
            - name: BACKUP_HOST_COMMON_NAME
              value: *backup_host_common_name
            - name: STANZA
              value: *cluster-name
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  name: *db_creds
                  key: {{ $.Values.credentials.dataKeys.superuserPassword }}
          {{- with $.Values.patroni.resources.pgbackrest }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: *pgbackrest_config
              mountPath: *pgbackrest_mount
              subPath: pgbackrest.conf
            - name: &tls tls
              mountPath: /etc/pgbackrest
              readOnly: true
            - name: *data
              mountPath: *data_mount
            - name: *wal_archives
              mountPath: *wal_archives_mount
            - name: *socket
              mountPath: *socket_mount
        - name: postgres-exporter
          image: quay.io/prometheuscommunity/postgres-exporter:v0.18.1
          ports:
            - name: pg-metrics
              containerPort: 9187
              protocol: TCP
          args:
            - --collector.stat_statements
            - --collector.long_running_transactions
            - --collector.stat_activity_autovacuum
            - --collector.database_wraparound
            - --collector.postmaster
            - --collector.stat_bgwriter
            - --collector.stat_checkpointer
            - --collector.replication
            - --collector.stat_user_tables
            - --collector.statio_user_tables
          env:
            - name: DATA_SOURCE_URI
              value: "localhost:5432/{{ $.Values.db }}?sslmode=disable"
            - name: DATA_SOURCE_USER
              value: postgres
            - name: DATA_SOURCE_PASS
              valueFrom:
                secretKeyRef:
                  name: *db_creds
                  key: {{ $.Values.credentials.dataKeys.superuserPassword }}
          {{- with $.Values.patroni.resources.postgresExporter }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /
              port: 9187
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 9187
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: *patroni_config
          configMap:
            name: patroni-{{ .Values.db }}-config
        - name: *pgbackrest_config
          configMap:
            name: patroni-{{ .Values.db }}-pgbackrest-config
        - name: *tls
          projected:
            defaultMode: 0600
            sources:
              - secret:
                  name: patroni-{{ $.Values.db }}-shard-{{ $shardIndex }}-tls
                  items:
                    - key: tls.crt
                      path: client.crt
                    - key: tls.key
                      path: client.key
                    - key: ca.crt
                      path: ca.crt
              - secret:
                  name: {{ $.Values.db }}-shard-{{ $shardIndex }}-pgbackrest-backup-tls
                  items:
                    - key: tls.crt
                      path: server.crt
                    - key: tls.key
                      path: server.key
        - name: *socket
          emptyDir: {}
  volumeClaimTemplates:
    - metadata:
        name: *data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 999Pi # local-path does not support storage requests so we use a big number just to show that it's uncapped
    - metadata:
        name: *wal_archives
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 999Pi # local-path does not support storage requests so we use a big number just to show that it's uncapped
{{- end }}
