{{- $first := true -}}
{{- range $type, $schedule := .Values.backup.schedules }}
  {{- if $schedule }}
    {{- if not $first }}
---
    {{- end }}
    {{- include "clickhouse.backup.cronjob" (dict "context" $ "type" $type "schedule" $schedule) }}
    {{- $first = false -}}
  {{- end }}
{{- end }}

{{- define "clickhouse.backup.cronjob" -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: clickhouse-{{ .context.Values.name }}-backup-{{ .type }}
  namespace: '{{ .context.Values.namespace }}'
spec:
  schedule: '{{ .schedule }}'
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: clickhouse-backup
              image: {{ .context.Values.backup.image }}
              env:
                - name: CLUSTER_NAME
                  value: '{{ .context.Values.name }}'
                - name: NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: CLICKHOUSE_USER_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: '{{ .Values.credentials.secret }}'
                      key: '{{ .Values.credentials.dataKeys.userPassword }}'
                - name: BACKUP_BUCKET
                  value: '{{ .Values.backup.bucket }}'
                - name: BACKUP_PATH
                  value: '{{ .Values.backup.path }}'
                - name: BACKUP_TYPE
                  value: '{{ .type }}'
                - name: BACKUP_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: '{{ .Values.backup.credentials.secret }}'
                      key: '{{ .Values.backup.credentials.dataKeys.backupPassword }}'
                - name: S3_TLS
                  value: '{{ .Values.s3.tls }}'
                - name: S3_ENDPOINT
                  value: '{{ .Values.s3.endpoint }}'
                - name: S3_REGION
                  value: '{{ .Values.s3.region }}'
                - name: S3_KEY
                  valueFrom:
                    secretKeyRef:
                      name: '{{ .Values.s3.credentials.secret }}'
                      key: '{{ .Values.s3.credentials.dataKeys.s3Key }}'
                - name: S3_KEY_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: '{{ .Values.s3.credentials.secret }}'
                      key: '{{ .Values.s3.credentials.dataKeys.s3KeySecret }}'
                - name: RETENTION
                  value: '{{ index .Values.backup.retnetion .type }}'
      backoffLimit: 4
{{- end }}
