{{- range $type, $schedule := .Values.backup.schedules }}
  {{- if $schedule }}
---
{{- include "clickhouse.backup.cronjob" (dict "context" $ "type" $type "schedule" $schedule) }}
  {{- end }}
{{- end }}

{{- define "clickhouse.backup.cronjob" -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: clickhouse-{{ .context.Values.name }}-backup-{{ .type }}
  namespace: {{ .context.Values.namespace }}
spec:
  schedule: {{ .schedule }}
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: clickhouse-backup
              image: {{ .context.Values.backup.image }}
              env:
                - name: CLUSTER_NAME
                  value: {{ .context.Values.name }}
                - name: NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: CLICKHOUSE_CLIENT_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ .context.Values.credentials.secret }}
                      key: {{ .context.Values.credentials.dataKeys.clientPassword }}
                - name: BACKUP_BUCKET
                  value: {{ .context.Values.backup.bucket }}
                - name: BACKUP_PATH
                  value: {{ .context.Values.backup.path }}
                - name: BACKUP_TYPE
                  value: {{ .type }}
                - name: S3_ENDPOINT
                  value: {{ .context.Values.s3.endpoint }}
                - name: S3_REGION
                  value: {{ .context.Values.s3.region }}
                - name: S3_KEY
                  valueFrom:
                    secretKeyRef:
                      name: {{ .context.Values.credentials.secret }}
                      key: {{ .context.Values.credentials.dataKeys.backupS3Key }}
                - name: S3_KEY_SECRET
                  valueFrom:
                    secretKeyRef:
                      name: {{ .context.Values.credentials.secret }}
                      key: {{ .context.Values.credentials.dataKeys.backupS3KeySecret }}
                - name: RETENTION
                  value: {{ index .context.Values.backup.retention .type | quote }}
              {{- with .context.Values.backup.resources }}
              resources:
                {{- toYaml . | nindent 16 }}
              {{- end }}
      backoffLimit: 4
{{- end }}
