{{- $keeperReplicas := int .Values.keeper.replicas }}
{{- if or (lt $keeperReplicas 1) (ne (mod $keeperReplicas 2) 1) }}
  {{- fail "keeper.replicas must be an odd number greater than or equal to 1" }}
{{- end }}

apiVersion: v1
kind: Service
metadata:
  name: clickhouse-keeper-{{ .Values.name }}-headless
  namespace: {{ .Values.namespace }}
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: clickhouse-keeper-{{ .Values.name }}
  ports:
    - name: client
      port: &client-port 9181
      targetPort: *client-port
    - name: raft
      port: &raft-port 9234
      targetPort: *raft-port

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: clickhouse-keeper-{{ .Values.name }}
  namespace: {{ .Values.namespace }}
spec:
  serviceName: clickhouse-keeper-{{ .Values.name }}-headless
  replicas: {{ $keeperReplicas }}
  selector:
    matchLabels:
      app: clickhouse-keeper-{{ .Values.name }}
  template:
    metadata:
      labels:
        app: clickhouse-keeper-{{ .Values.name }}
    spec:
      containers:
        - name: keeper
          image: {{ .Values.keeper.image }}
          ports:
            - name: client
              containerPort: 9181
            - name: raft
              containerPort: 9234
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: CLUSTER_NAME
              value: {{ .Values.name }}
            - name: KEEPER_REPLICAS
              value: {{ $keeperReplicas | quote }}
          volumeMounts:
            - name: &data data
              mountPath: /var/lib/clickhouse
            - name: &logs logs
              mountPath: /var/log/clickhouse-keeper
            - name: &keeper-config config
              mountPath: /tmp/conf_templates/keeper.yaml
              subPath: keeper.yaml
          readinessProbe:
            tcpSocket:
              port: 9234
            initialDelaySeconds: 10
            periodSeconds: 5
          {{- with .Values.keeper.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      volumes:
        - name: *keeper-config
          configMap:
            name: clickhouse-keeper-config
  volumeClaimTemplates:
    - metadata:
        name: *data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 999Pi # local-path does not support storage requests so we use a big number just to show that it's uncapped
    - metadata:
        name: *logs
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: local-path
        resources:
          requests:
            storage: 999Pi # local-path does not support storage requests so we use a big number just to show that it's uncapped
