{{- $keeperReplicas := int .Values.keeper.replicas }}
{{- if or (lt $keeperReplicas 1) (ne (mod $keeperReplicas 2) 1) }}
  {{- fail "keeper.replicas must be an odd number greater than or equal to 1" }}
{{- end }}

apiVersion: v1
kind: Service
metadata:
  name: clickhouse-keeper-{{ .Values.name }}-headless
  namespace: '{{ .Values.namespace }}'
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: clickhouse-keeper-{{ .Values.name }}
  ports:
    - name: client
      port: &client-port 9181
      targetPort: *client-port
    - name: raft
      port: &raft-port 9234
      targetPort: *raft-port
