apiVersion: v1
kind: Service
metadata:
  name: clickhouse-keeper-{{ .Values.name }}-headless
  namespace: '{{ .Values.namespace }}'
spec:
  clusterIP: None
  publishNotReadyAddresses: true
  selector:
    app: clickhouse-keeper-{{ .Values.name }}
  ports:
    - name: client
      port: &client-port 9181
      targetPort: *client-port
    - name: raft
      port: &raft-port 9234
      targetPort: *raft-port
