apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: clickhouse-keeper-{{ .Values.name }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: clickhouse-keeper
    database: {{ .Values.name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Values.namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: clickhouse-keeper
      database: {{ .Values.name }}
  endpoints:
    - port: client
      path: /metrics
      interval: 30s
      scheme: http

---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: clickhouse-{{ .Values.name }}
  namespace: monitoring
  labels:
    app.kubernetes.io/name: clickhouse
    database: {{ .Values.name }}
spec:
  namespaceSelector:
    matchNames:
      - {{ .Values.namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: clickhouse
      database: {{ .Values.name }}
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
      scheme: http

